:root {
  font-size: 10px;

  --size-1: 0.8rem;
  --size-2: 1.6rem;
  --size-3: 2.4rem;
  --size-4: 3.2rem;
  --size-5: 4rem;
  --size-6: 4.8rem;
  --size-7: 5.6rem;

  --size-log: 20rem;

  --primary: hsla(176, 100%, 36%, 1);
  --success: #98ce00;
  --danger: #fe4a49;
  --divider: #d8d8d8;

  --box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  color: white;
  height: var(--size-7);
  box-shadow: var(--box-shadow);
}

#box {
  height: 100%;
}

#content {
  display: flex;
  height: calc(100vh - var(--size-7));
}

.player-form-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  margin-top: var(--size-7);
}

.other-players-wrapper {
  margin-top: var(--size-2);
}

.network-log-wrapper {
  margin-top: var(--size-2);
}

.other-players-wrapper ul {
  max-height: var(--size-log);
  overflow: scroll;
}

.other-players-wrapper .highlighted {
  color: var(--primary);
  font-weight: bold;
}

.network-log-wrapper ul {
  max-height: var(--size-log);
  overflow: scroll;
}

.other-players-wrapper li,
.network-log-wrapper li {
  padding: var(--size-1) 0;
  line-height: 1.2;
}

.other-players-title,
.network-log-title {
  padding: var(--size-1) 0;
  border-bottom: 1px solid var(--divider);
  font-weight: bold;
}

#playerForm {
  width: 30rem;
}

#playerNameInput {
  border: 1px solid var(--divider);
  padding: var(--size-1) var(--size-2);
  border-radius: 10px;
  width: 100%;
  margin-top: var(--size-1);
}

#onlineStatus {
  display: inline-block;
  font-size: var(--size-2);
  padding: var(--size-1) var(--size-1);
}

#networkLog li {
  transition: transform 800ms ease-in-out;
}

.online {
  background-color: var(--success);
}

.offline {
  background-color: var(--danger);
}

#playerNameList {
  list-style-type: none;
}

#dicePanel {
  margin-top: var(--size-7);
  overflow: scroll;
}

#dicePanel.hidden {
  display: none;
}

#dicePanel.visible {
  display: flex;
  flex: 1;
  justify-content: center;
}

#dicePanel li {
  display: inline;
}

.dice-flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dice-flex-wrapper #imgList {
  margin-top: var(--size-2);
}

.dice-flex-wrapper #rollBtn {
  margin-top: var(--size-2);
}

#imgList {
  display: flex;
}

#imgList img {
  transition: transform 1000ms ease-in-out;
}

#imgList input {
  display: none;
}

#roundText {
  margin-top: var(--size-1);
}

#infoPanel {
}

#scoreTable {
  border-left: 1px solid var(--divider);
  box-shadow: var(--box-shadow);
  overflow: scroll;
  height: 100%;
}

#scoreTable tr,
#scoreTable td {
  border-bottom: 1px solid var(--divider);
  text-align: center;
  font-size: var(--size-3);
  padding: var(--size-1);
}

#scoreTable .noClickRow {
  font-weight: bold;
}

td {
  width: 50px;
}

#menuBar {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-top: 1px solid #333;
  text-align: center;
}

/* Utilities */
.button-group {
  display: flex;
  margin-top: var(--size-1);
  margin-left: calc(var(--size-1) / 2 * -1);
  margin-right: calc(var(--size-1) / 2 * -1);
}

.button-group > div {
  flex: 1;
  padding: 0 calc(var(--size-1) / 2);
}

.button-group .btn {
  width: 100%;
}

.btn {
  border: 1px solid transparent;
  padding: var(--size-1) var(--size-2);
  transition: all 100ms;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  font-weight: bold;
}

.btn[disabled] {
  opacity: 0.2;
  cursor: not-allowed;
}

.primary-btn {
  background: var(--primary);
  color: white;
}

.primary-btn:hover {
  background: hsla(176, 70%, 36%, 1);
}

.info-btn {
  border: 1px solid var(--primary);
  background: white;
  color: var(--primary);
}

.info-btn:hover {
  background: var(--primary);
  color: white;
}
